<!DOCTYPE html>
{% extends 'default.html' %} {% block content %}
        <title>Azure Playfab API Diagram</title>

<div class="row row-cols-1 row-cols-md-3 g-2">
  <div class="col">
    <div class="card mb-3">
      <div class="card-body">
          <div class="row row-cols-1">
              <h5 class="card-title">UNDER CONSTRUCTION<br>
              </div>
              <div class=""><b>WORKING......</b></div>
          </h5>
      </div>
    </div>
  </div>
  </div>
        
{% endblock content %}
